body {
    scroll-behavior: smooth;
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    background: linear-gradient(to right, #1b8761, #6dca8f);
    padding: 120px 20px;
    animation: color-change 10s infinite;
}

@keyframes color-change {
    0% { color: #ffffff; }
    20% { color: #e7ffe9; }
    40% { color: #d0ffdf; }
    60% { color: #ccffdc; }
    80% { color: #d0ffdf; }
    100% { color: #e7ffe9; }
}

.widget {
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-link {
    color: #FFFFFF
}

.section {
    padding: 80px 20px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.section-text {
    color: #555;
    max-width: 700px;
    margin: auto;
}

.icon {
    font-size: 45px;
    margin-bottom: 15px;
}

.dark-section {
    background-color: #212529;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
